@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");



/*********************************************************************/
/*
	HZ CSS library
	by: Hanz Aquino
	started: 2/26/2022
	version: 1.0.0
*/

/*HTML*/
html,
body {
	font-size: 16px;
	margin: 0;
	font-family:  'Roboto', 'Times New Roman', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*main attributes*/
.container {
	margin-left: 10%;
	margin-right: 10%;
}
.text-container {
	margin-left: 10%;
	margin-right: 10%;
	text-overflow: break-word;
	overflow: hidden;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
.column {
	flex: 50%;
}
/* If screen width is less than 600px */
@media (max-width: 770px) {
	.container {
		margin: 5px;
	}
	.text-container {
		margin-left: 10%;
		margin-right: 10%;
	}
	.row {
		display: flex;
		flex-direction: column;
	}
}


/* Dashboard Page < */
.main-area {
	padding-top: 160px;
	margin-left: 200px;
	transition: 0.25s;
}
.ma_expanded {
	margin-left: 56px;
}
.notificationbar {
	position: fixed;
	top: 0;
	left: 0;
	height: 300px;
	width: 100%;
	background-color: #00c0ff;
	z-index: -1;
	transition: 0.25s;
	margin-left: 200px;
}
.nb_collapsed {
	margin-left: 56px;
}
.nb_scrolled {
	height: 56px;
	z-index: 1;
	filter: drop-shadow(4px 0px 6px rgb(0,0,0,0.2));
}
.notificationbar-top {
	position: fixed;
	top: 0;
	left: 0;
	margin-left: 200px;
	height: 56px;
	width: calc(100% - 200px);
	background-color: #00c0ff;
	z-index: 1;
	transition: 0.25s;
}
.nbt_collapsed {
	margin-left: 56px;
	width: calc(100% - 56px);
}
.notificationbar-contents {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 32px 38px 0px 38px;
	transition: 0.25s;
}
.nbc_scrolled {
	margin-top: -13px !important;
}
.btn-navbarToggle {
	position: fixed;
	transition: 0.25s;
	background-color: transparent;
	font-size: 1.2rem;
	top: 18px;
	left: 156px;
	z-index: 3; /* Sit on top */
	border: none;
}
.nvbtg_collapsed {
	transform: rotateY(180deg);
	left: 15px;
}
.navbar {
	padding-top: 40px;
	height: 100%;
	width: 200px;
	position: fixed;
  	z-index: 1; /* Sit on top */
  	overflow: hidden;
  	left: 0;
  	top: 0;
  	transition: 0.25s;
  	filter: drop-shadow(4px 0px 6px rgb(0,0,0,0.1));
}
.nv_collapsed {
	width: 56px;
}
.navbar-logo {
	height: 26px;
	width: 26px;
	margin: 14px 0 10px 24px;
	background-image: url('/favicon.svg');
	background-size: cover;
	transition: 0.25s;
}
.nvlg_collapsed {
	height: 20px;
	width: 20px;
	margin: 14px 0 10px 17px;
}
.navbar-menulist{
	flex-flow: column;
	margin: 0 24px 0 24px;
	padding: 4px 2px 18px 2px;
}
.nvml_collapsed{
	margin: 0 4px 0 4px;
	padding: 4px 0 18px 0;
}
.navbar-logo-container {
	margin-top: 8px;
	margin-bottom: 10px;
	height: 32px;
	display: flex;
	align-items: center;
    justify-content: flex-start;
}
.navbar-logo-text {
	font-family: 'Ubuntu';
	font-weight: bold;
	font-size: 1.1rem;
	margin-top: 19px;
	margin-left: 16px;
}
.navbar-menulist-btn {
	position: relative;
	font-size: 1rem;
	background-color: transparent;
	margin: 8px 0px 8px 0px;
	padding: 4px 4px 4px 42px;
	width: 142px;
	height: 32px;
	border: none;
	border-radius: 6px;
	overflow: hidden;
	transition: 0.1s ease-out;
	text-align: left;
}
.nvmlbtn_minimized {
	margin: 8px 0px 8px 8px;
	padding: 4px;
	width: 32px;
	border-radius: 3px;
	color: transparent !important;
}
.navbar-menulist-btn-icon {
	position: absolute;
	margin-left: 16px;
	margin-top: 14px;
	font-size: 1rem;
	z-index: -1;
}
.nvmltheme_dark {
	position: absolute;
	transform: rotate(360deg);
	margin-left: 16px;
	margin-top: 14px;
	font-size: 1rem;
	z-index: -1;
	transition: 0.5s;
}
.nvmltheme_light {
	position: absolute;
	margin-left: 16px;
	margin-top: 14px;
	font-size: 1rem;
	z-index: -1;
	transition: 0.5s;
}
.notificationbar-user-btn {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}
.nbub_collapsed {
	transition: 0.25s;
	transition-delay: 0.2s;
}
.notificationbar-title {
	font-size: 1.6rem;
	font-family: 'Roboto';
	font-weight: bold;
	filter: drop-shadow(2px 2px 3px rgb(0,0,0,0.1));
}
.notificationbar-username {
	font-size: 1.3rem;
	font-family: 'Roboto';
	font-weight: bold;
	margin-right: -12px;
	filter: drop-shadow(2px 2px 3px rgb(0,0,0,0.1));
}
.notificationbar-profilepic {
	border-radius: 50%;
	height: 38px;
	width: 38px;
	filter: drop-shadow(2px 2px 3px rgb(0,0,0,0.1));
}
.notificationbar-subprofilepic {
	background-color: white;
	color: #14FFEC;
	font-size: 23px;
	display: flex;
	align-items: center;
    justify-content: center;
	border-radius: 50%;
	height: 38px;
	width: 38px;
	filter: drop-shadow(2px 2px 3px rgb(0,0,0,0.1));
}
.notificationbar-user-btn:hover {
	transform: scale(1.05);
	transition: 0.1s;
	cursor: pointer;
}
.navbar-menulist-btn-collapsed:hover{
	background-color: rgb(215,215,215,0.2);
}
.navbar-menulist-btn:hover{
	background-color: rgb(215,215,215,0.2);
}

.navbar-btn-selected {
	background-color: rgb(215,215,215,0.2) !important;
}
.bottom-line {
	border-bottom: 2px solid rgb(215,215,215,0.2);
}
/* > Dashboard Page */ 

/* User Page < */
.user-area {
	margin: 26px 10px 10px 10px;
}
.userpage-backbtn {
	height: 40px;
	width: 160px;
	display: flex;
	align-items: center;
    justify-content: center;
    cursor: pointer;
}
.userpage-backbtn p {
	font-size: 1.2rem;
}
.userpage-backbtn:hover p {
	font-size: 1.25rem;
}
.userpage-profilepic {
	border-radius: 50%;
	height: 68px;
	width: 68px;
	filter: drop-shadow(2px 2px 3px rgb(0,0,0,0.1));
}
.userpage-subprofilepic {
	background-color: white;
	color: #14FFEC;
	font-size: 36px;
	display: flex;
	align-items: center;
    justify-content: center;
	border-radius: 50%;
	height: 68px;
	width: 68px;
	filter: drop-shadow(2px 2px 3px rgb(0,0,0,0.1));
}
/* > User Page */

/*Subjects Panel < */
.subjects-area {
	background-color: rgba(255,255,255,0.5);
}
/* > Subjects Panel */

@media (max-width: 770px) {
	.main-area {
		margin-left: 40%; /*0 if navbar pushes the window*/
	}
	.ma_expanded {
		margin-left: 0;
	}
	.notificationbar {
		margin-left: 40%; /*0 if navbar pushes the window*/
	}
	.nb_collapsed {
		margin-left: 0;
	}
	.notificationbar-top {
		margin-left: 40%; /*0 if navbar pushes the window*/
		width: 60%; /*100% if navbar pushes the window*/
	}
	.nbt_collapsed {
		margin: 0;
		width: 100%;
	}
	.btn-navbarToggle {
		left: 28%;
	}
	.nvbtg_collapsed {
		left: 10px;
	}
	.navbar {
		/*z-index: 2;*/ /*set if navbar pushes the window*/
		width: 40%;
	}
	.nv_collapsed {
		margin-left: -40%;
	}
	.navbar-menulist{
		margin: 0;
		padding: 4px 2px 18px 2px;
	}
	.notificationbar-user-btn {
		visibility: hidden; /*comment out if navbar pushes the window*/
	}
	.nbub_collapsed {
		visibility: unset !important;
	}
	.navbar-logo {
		height: 22px;
		width: 22px;
		margin: 14px 0 10px 14px;
	}
	.nvlg_collapsed {
		height: 22px;
		width: 22px;
		margin: 14px 0 10px 14px;
	}
	.navbar-logo-text {
		font-size: 1rem;
		margin-left: 6px;
	}
	.notificationbar-contents {
		margin: 32px 8px 0px 46px;
	}
	.nbc_scrolled {
		margin-top: -4px !important;
	}
	.notificationbar-title {
		font-size: 1.3rem;
	}
	.notificationbar-username {
		font-size: 1rem;
	}
	.nvmlbtn_minimized {
		color: unset;
	}
	.nvlg_collapsed {
		height: 20px;
		width: 20px;
		margin: 14px 0 10px 17px;
	}
}


/* Custom components */

/*spinner*/
.spinner {
	font-size: 10px;
	margin: 8px auto;
	text-indent: -9999em;
	width: 3em;
	height: 3em;
	border-radius: 50%;
	background: #fff;
	background: linear-gradient(180deg, rgba(150,230,255,1) 0%, rgba(110,255,155,1) 50%, rgba(0,212,255,0) 100%);
	position: relative;
	animation: load3 1.4s infinite linear;
	transform: translateZ(0);
}
.spinner:before {
	width: 50%;
	height: 50%;
	background: #fff;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '',
}
.spinner:after {
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
@keyframes load3 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/*spinner*/
.btn {
	padding: 5px 16px 5px 16px;
	margin: 10px;
	border: 1px solid rgb(0,0,0,0.3);
	border-radius: 10px;
	height: 38px;
	font-weight: bold;
	filter: drop-shadow(0px 4px 6px rgb(0,0,0,0.5));
	transition: 0.5s;
}
.btn:hover {
	background-color: white;
	color: black;
	transition: 0.25s;
}
.btn:active {
	filter: unset;
}

.btn-with-logo {
	margin: 0px 5px 10px 5px;
	border: 1px solid rgb(0,0,0,0.4);
	border-radius: 40px;
	height: 38px;
	padding-left: 40px;
	padding-right: 12px;
	font-weight: bold;
	filter: drop-shadow(0px 4px 6px rgb(0,0,0,0.5));
	transition: 0.5s;
}
.btn-with-logo:hover {
	background-color: white;
	color: black;
	transition: 0.25s;
}
.btn-with-logo:active {
	filter: unset;
}
.btn-img-google {
	background-image: url('/img/icons/google-icon-48.png');
	background-position: 2px 2px;
	background-size: 32px 32px;
	background-repeat: no-repeat;
}
.btn-img-fb {
	background-image: url('/img/icons/facebook-icon-48.png');
	background-position: 2px 2px;
	background-size: 32px 32px;
	background-repeat: no-repeat;
}



.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px 26px 12px 26px;
}
.form a {
	text-decoration: none;
}
.form a:hover {
	text-decoration: underline;
}
.form-label {
	font-size: 1.7rem;
}

.input-field input {
	position: relative;
	padding: 3px 42px 3px 42px;
	margin: 5px 10px 26px 10px;
	height: 36px;
	width: 256px;
	border: 1px solid rgb(0,0,0,0.3);
	border-radius: 10px;
	font-size: 1rem;
	filter: drop-shadow(0px 3px 4px rgb(0,0,0,0.3));
}
.input-field input:focus {
	outline: none;
}
.input-field .field-icon {
	position: absolute;
	margin-left: 22px;
	margin-top: 14px;
	font-size: 20px;
	z-index: 1;
}
.input-field .field-toggle {
	position: absolute;
	margin-left: -42px;
	margin-top: 16px;
	font-size: 20px;
	z-index: 1;
}

.input-field-name input {
	position: relative;
	padding: 3px 12px 3px 12px;
	margin: 5px 10px 26px 10px;
	height: 36px;
	width: 134px;
	border: 1px solid rgb(0,0,0,0.3);
	border-radius: 10px;
	font-size: 1rem;
	filter: drop-shadow(0px 3px 4px rgb(0,0,0,0.3));
}
.input-field-name input:focus {
	outline: none;
}
.empty-field-error {
	border: 1px solid red !important;
}



.card {
	padding: 2px 12px 2px 12px;
	border: none;
	border-radius: 10px;
	filter: drop-shadow(0px 3px 5px rgb(0,0,0,0.1));
}
/* If screen width is less than 600px */
@media (max-width: 770px) {
	.input-field-name {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.card {
		padding: 2px 5px 2px 5px;
	}
	.form {
		margin: 0;
		padding: 0px 16px 12px 16px;
	}
	.input-field input {
		padding: 5px 42px 5px 42px;
		margin: 5px 8px 26px 8px;
		width: 56vw;
	}
}

/*additional attributes*/
.flex {
	display: flex;
}
.fit-width {
	width: fit-content;
}
.fit-height {
	height: fit-content;
}
.vertical-center {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.horizontal-center {
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.fill-screen {
	height: 100vh;
	width: 100wh;
}
.fixed {
	position: fixed;
}
.pd-t-10 {
	padding-top: 10px;
}
.pd-tb-10 {
	padding-top: 10px;
	padding-bottom: 10px;
}
.pd-t-20 {
	padding-top: 20px;
}
@media (max-width: 770px) {
	.fill-screen {
		height: auto;
		width: 100wh;
	}
}



/* Theme Colors */

.dark-bg-spinner {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #24292b;
	z-index: 1;
}
.dark-spinner-text{
	position: fixed;
	text-align: center;
	top: 56%;
	left: calc(50%-4px);
	opacity: 35%;
	color: white;
	font-size: 12px;
}
.dark-spinner:after {
	background: #24292b;
}
.dark-bg {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background-color: #24292b;
	z-index: -3;
}
.dark-bgcolor {
	background-color: #24292b;
}
.dark-bg2color {
	background-color: #1a1e1f;
}
.dark-bg3color {
	background-color: #1a1e1f;
}
.dark-fgcolor {
	color: white;
}
.dark-fg2color {
	color: rgb(160,160,160);
}
.dark-accentfgcolor {
	color: #00c0ff;
}
.dark-accentbgcolor {
	background-color: #00c0ff;
}
.dark-accentbg2color {
	background-color: #0D7377;
}
.dark-accentbg2coloronhover:hover {
	background-color: #0D7377 !important;
}

.light-bg-spinner {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: white;
	z-index: 1;
}
.light-spinner-text{
	position: fixed;
	text-align: center;
	top: 56%;
	left: calc(50%-4px);
	opacity: 35%;
	color: black;
	font-size: 12px;
}
.light-spinner:after {
	background: white;
}
.light-bg {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background-color: white;
	z-index: -3;
}
.light-bgcolor {
	background-color:rgb(253,253,253);
}
.light-bg2color {
	background-color: rgb(223,223,223);
}
.light-bg3color {
	background-color: gainsboro;
}
.light-fgcolor {
	color: black;
}
.light-fg2color {
	color: rgb(60,60,60);
}
.light-accentfgcolor {
	color: #14FFEC;
}
.light-accentbgcolor {
	background-color: #14FFEC;
}
.light-accentbg2color {
	background-color: #0D7377;
}
.light-accentbg2coloronhover:hover {
	background-color: #00c0ff !important;
}

/*for development*/
/*.container {
	background: lightblue;
	border: 1px dashed blue;
}
.row {
	background: pink;
	border: 1px dashed red;
}
.column {
	background: yellowgreen;
	border: 1px dashed green;
}*/


/*********************************************************************/



/* trash **********************/

/*
.form .btn {
	padding: 5px 16px 5px 16px;
	margin: 10px;
	border: 1px solid rgb(0,0,0,0.3);
	border-radius: 10px;
	height: 38px;
	font-weight: bold;
	filter: drop-shadow(0px 4px 6px rgb(0,0,0,0.5));
	transition: 0.5s;
}
.form .btn:hover {
	background-color: white;
	color: black;
	filter: unset;
	transition: 0.25s;
}
.form .btn-with {
	margin: 0px 5px 10px 5px;
	border: 1px solid rgb(0,0,0,0.3);
	border-radius: 40px;
	height: 38px;
	padding-left: 40px;
	padding-right: 12px;
	font-weight: bold;
	filter: drop-shadow(0px 4px 6px rgb(0,0,0,0.5));
	transition: 0.5s;
}
.form .btn-with:hover {
	color: black;
	filter: unset;
	transition: 0.05s;
}*/